/* service.css */
/* Shared layout overrides for individual service pages */

.fv-page-hero {
   padding: 160px 0 100px; /* Slight adjustment for service pages */
}

.presentation-card i {
   font-size: 24px;
   color: #fb383b;
   margin-bottom: 15px;
}

@media(max-width: 991px) {
   .fv-page-hero {
      padding: 130px 0 80px;
   }
}